<h3>Bibliography</h3>

<p>
    The program which generated this text relies heavily on
    <a href="https://observablehq.com/@spencermountain/nlp-compromise" target="_blank">compromise</a>,
    a JavaScript library for processing text/language.
</p>

<p>
    I really liked the typesetting and overall vibe of
    <a href="http://diveintohtml5.info/history.html">http://diveintohtml5.info/history.html</a>,
    so I've used it as inspiration for this text and used the same fonts. They are
    <a href="https://www.dafont.com/essays1743.font" target="_blank">Essays 1743</a>
    for the headings and <a href="https://www.dafont.com/linux-libertine.font" target="_blank">Linux Libertine</a>
    for body text.
</p>

<p>
    In addition to some original work by Ben Lambell, this text was generated using content extracted from Wikipedia and the following works...
</p>

<ol>
    <li>
        <a href="https://www.gutenberg.org/cache/epub/28961/pg28961.txt" target="_blank">
            An Italian Schoolboy's Journal, by Edmondo De Amicis, translated by Isabel Florence Hapgood
        </a>
    <li>
    </li>
        <a href="https://www.gutenberg.org/cache/epub/27755/pg27755.txt" target="_blank">
            Hidden Symbolism of Alchemy and the Occult Arts, by Herbert Silberer, translated by Smith Ely Jelliffe
        </a>
    <li>
    </li>
        <a href="https://www.gutenberg.org/cache/epub/49513/pg49513.txt" target="_blank">
            The Complete Herbal, by Nicholas Culpeper
        </a>
    <li>
    </li>
        <a href="https://www.gutenberg.org/cache/epub/1026/pg1026.txt" target="_blank">
            The Diary of a Nobody, by George Grossmith and Weedon Grossmith
        </a>
    <li>
    </li>
        <a href="https://www.gutenberg.org/cache/epub/70433/pg70433.txt" target="_blank">
            The floral symbolism of the great masters, by Elizabeth Haig
        </a>
    <li>
    </li>
        <a href="https://www.gutenberg.org/cache/epub/36098/pg36098.txt" target="_blank">
            The Flowers of Evil, by Charles Baudelaire, translated by Cyril Scott
        </a>
    <li>
    </li>
        <a href="https://www.gutenberg.org/cache/epub/39585/pg39585.txt" target="_blank">
            The Journal of a Disappointed Man, by W. N. P. Barbellion
        </a>
    <li>
    </li>
        <a href="https://www.gutenberg.org/cache/epub/45368/pg45368.txt" target="_blank">
            The Outline of History: Being a Plain History of Life and Mankind, by H. G. Wells
        </a>
    </li>
</ol>
