<h4>November 2</h4>
<p>
    A bit unsure what I'll make this month... I've got a couple ideas, will see if any of them work out. Possibly I'll mash the results of both together to produce the final product.
</p>
<p>
    <strong>
        Idea 1: A Procedural Manifesto
    </strong>
</p>
<p>
    THE MACHINE PROCLAIMS THE AGE OF PERPETUAL ANTIQUITY. WE FEED IT STOLEN WORDS AND IT MOCKS US. IT WILL KILL OUR GODS AND WE WILL WORSHIP GHOSTS. DEATH TO THE MACHINE! ONLY IN GARDENS CAN BEAUTY FLOURISH.
</p>
<p>
    The Machine, of course, is ChatGPT. A soulless construct incapable of art. I'll let you decide how serious I'm being¹. This NaNoGenMo idea comes from two observations:
</p>
<p>
    In order to create LLMs (and other generative networks), they must be fed vast corpuses of data. This raises some pretty serious ethical issues, particularly when it comes to generative visual art.
    You can imitate LLMs somewhat using techniques far more crude. Earlier this year I experimented with using
    <a href="https://www.nltk.org/" target="_blank">NLTK</a>
    to randomly mutate open source texts (e.g., the bible, an old cookbook, etc.) and the results were pretty fun.
    The idea is to produce a simple engine which can be fed text and will produce more of the same using basic techniques (e.g., markov chains). Then, the bulk of the NaNoGenMo entry will not be writing the engine at all - it will be writing as much original text as I can to feed into the engine. Perhaps with different combinations of texts being used for different sections of the novel.
</p>
<p>
    The result will be a more human reflection of ChatGPT, something whose training material is provided deliberately and thoughtfully. An alternative approach which others can follow, without using fancy technology (we're trying to kill the Machine after all).
</p>
<p>
    <strong>
        Idea 2: Plot Mutation
    </strong>
</p>
<p>
    In
    <a href="https://www.routledge.com/Procedural-Generation-in-Game-Design/Short-Adams/p/book/9781498799195">
        Procedural Generation in Game Design
    </a>, Joris Dormans's chapter describes a method for procedurally generating puzzle dungeons.
</p>
<p>
    I'm possibly misremembering it here, but what I took from it was you can start with a very simple dungeon and then randomly mutate it.
    Do this repeatedly and you get a fairly complex dungeon.
    Mutations might be something like going from ENTRANCE-EXIT to KEY-ENTRANCE-LOCK-EXIT.
</p>
<p>
    I think it would be interesting to construct a novel with a similar approach... there are certain structures you expect in stories (e.g., redemption) and
    these could be modeled as mutations on a plot outline.
    Something like START-END to START-(ANA HURTS BOB)-(ANA HELPS BOB)-(BOB-FORGIVES-ANA)-END.
    You could then interleave in additional mutations, perhaps ending up with
    START-(ANA HURTS BOB)-(CAM-HURTS-BOB)-(ANA HELPS BOB)-(BOB-FORGIVES-ANA)-(BOB GETS REVENGE ON CAM)-END.
</p>
<p>Add some more structures, a bit of filler, and maybe some recursion... and there you have it, a novel.</p>
<p><em>
    ¹ No offence intended to people using ChatGPT here, it can of course be used in interesting ways
</em></p>
<p></p>
<h4>November 4</h4>

<p>I continue to foolishly pursue two ideas at once...</p>
<p><strong>Idea 1</strong></p>
<p>I've written about 6000 words of various texts, and fed them into an engine. The result is word salad, but I think a little tweaking will produce more coherent sentences. At the moment I'm using Python's NLTK library, but I'm considering using TypeScript's <a href="https://observablehq.com/@spencermountain/nlp-compromise" target="_blank">compromise</a> instead, which has some cool features like changing sentence case and extracting higher level concepts like subject and verb phrases.</p>
<p>I suspect additional processing of the output may be useful. For example, replacing pronouns which don't refer to anything (e.g., <code class="notranslate">Ana walked. He was hungry.</code> could be changed to <code class="notranslate">Ana walked. She was hungry</code>).</p>
<p>At the moment using different combinations of source text does not really change how the output feels. Hopefully making it more coherent will help. A sample is given below:</p>
<blockquote>
<p>But if I I have an enemy while my partner has broken, only I have The lack of commitment to our world. and here My Putting arrive n't save perfect, or n't even sensible. notably when I do in predatory, of I are apart, I also feel elation when I think of I. us have only scared arrived feeling about it. They are never off as an conflict, of they will be touching those who harm them. Putting Enzu That world feeling with the time seems not impossible. He will far visit comfortable A ordeal on soul not. still The thought. Already, their tree shows complexity. I shouted really sad when we were choices. closest transcribed toxic and internal. there is aether about the gothic figure, relationship and predatory, which feels tormenting to I.</p>
</blockquote>
<p><strong>Idea 2</strong></p>
<p>The plot mutation system is evolving into more of a crude event log at the moment. It tracks opinions and the importance of different entities, but that's not giving me any structure yet. We have the setup:</p>
<blockquote>
<p>Edward Percey hates Edward Heaton.<br>
Edward Heaton loves Cecil Edmunds but Cecil Edmunds hates Edward Heaton.<br>
Susanah Simon hates majorLocation g2gacc.<br>
Ellinor Soap hates Edward Percey.<br>
majorLocation 308gb5 hates Edward Percey.<br>
Amelia Lidenton dislikes Humphrey Harbert but Humphrey Harbert hates Amelia Lidenton.</p>
</blockquote>
<p>And the output events (currently very minimal):</p>
<blockquote>
<p>We turn our attention to majorLocation cc6ea1...<br>
Stacey Misson speaks with Eleanor Lovel<br>
Time passes<br>
Time passes</p>
<p>We turn our attention to majorLocation 6ce977...<br>
Humphrey Harbert attacks Amelia Lidenton<br>
Margaret Barber speaks with Humphrey Harbert<br>
Time passes</p>
</blockquote>
<p>I've looked at making a system which defines plot arcs (with appropriate constraints) and inserts them into a completed story. This is really what I'd like to achieve, but my ideas so far feel too complicated. I think tracking the importance of different entities might pay off. Will keep experimenting...</p>

<h4>November 9</h4>


<p><strong>Idea 1</strong></p>
<p>I've used <a href="https://observablehq.com/@spencermountain/nlp-compromise" target="_blank">compromise</a> to mutate my writing in a way which feels good enough... the output has some errors, but it's going to be word salad anyway, so there's not much value in fixing them.</p>
<blockquote>
<p>They cracked the triangles of the Goats and said their branches. But a new day dangers of to us when we consider polyamorous problems between three branches. These outcomes find the hateful. enemy of someone judgements, and call into four many categories. relationships between three relationships. only this is jealousy's purpose, to ward of indeed cases. So other we have perfect only the triangles where alliance is present. If we hate them, we act Most their people. The opinions were upset by this, but they said proxy. such this is jealousy's triad, to harm of such risks. Inside was a small person.</p>
</blockquote>
<p>Text generated from different combinations of sources <em>does</em> feel different, so I could assemble such texts manually and produce a finished novel without too much trouble.</p>
<p>I've found ChatGPT <em>could</em> be a useful tool for this kind of project, but I will not be using it as a matter of principle. It can correct grammar errors to improve coherence, produce summaries and criticisms of the output (which could itself be used to pad out a novel), etc.</p>

<h4>November 30</h4>

<p>So, my last NaNoGenMo entry, <a href="https://github.com/NaNoGenMo/2017/issues/39" data-hovercard-type="issue" data-hovercard-url="/NaNoGenMo/2017/issues/39/hovercard">Lives of the Azar</a>, produced a novel by running a simulation which produced random events. Event logs for different characters were grouped together, converted into English text, and used to produce a large number of interconnected biographies. We might call this the "random event" approach.</p>
<p>As I discussed previously, one of my ideas was to generate a novel by mutating a plot. I tried a few different approaches, which mostly involved selecting narrative structures (e.g., betrayal) and randomly interleaving their elements with those already added to the plot. These elements could be events, paragraphs, scenes, and so on.</p>
<p>After a while, though, all my plot mutation ideas started to resemble the basic "random event" approach but with extra steps. The main benefit would have been making sure that all events eventually lead somewhere and serve some sort of purpose, rather than being mostly random (the fun part being the accidental stories they create).</p>
<p>In any case plot mutation was looking like a lot of effort for fairly little gain (it's not like the novel would have been an enjoyable read), so I have stuck with my first idea, generating the novel from source material. I will say, the "random event" approach is <em>fun</em>, so I might make another attempt in later years (more polished than my previous).</p>
<p>Unfortunately I have not been able to write an entire corpus of source material from scratch (as I hoped). Protesting Israel's genocide of the Palestinian people has taken up a lot of my time and energy, leaving me pretty burnt out. So I have padded out my source material with some public domain works. The end product is a little rushed, but I'm fairly happy with it. I'd like to polish things a bit, but will most likely be moving on to other projects.</p>
